@font-face {
    font-family: arialmtbold;
    src: url(arial_mt_bold.otf);
}

body {
  font-family: arialmtbold;
  box-sizing: border-box;
}

div.container {
  padding: 0 150px;
}

#header .navbar {
  height: 60px;
  background-color: rgba(25, 25, 25, 0.9);
  font-weight: bold;
  margin: 0;
  position: relative;
  z-index: 5;
  border-radius: 0;
}

.navbar-header .navbar-brand {
  color: #9f9f9f;
  font-size: 30px;
  line-height: 40px;
}

.navbar-nav li a {
  color: #ffffff;
  font-size: 13px;
  line-height: 50px;
}

.navbar-nav li a:active,
.navbar-nav li a:focus {
  color: #e34e33;
  background-color: transparent;
}

.navbar-nav li a:hover {
  color: #9f9f9f;
  background-color: transparent;
}

#twitter a {
  font-size: 14px;
  color: #67d9d9;
  background-color: #464646;
  height: 40px;
  margin-top: 19px;
  padding-right: 60px;
  line-height: 10px;
  position: relative;
}

#twitter a div {
  background-color: #e34e33;
  color: white;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

#myCarousel {
  top: -80px;
}

.carousel-indicators li {
  background-color: white;
  border: none;
  margin: 5px;
}

.carousel-indicators li:hover {
  background-color: #9f9f9f;
}

.carousel-indicators .active {
  background-color: red;
  border: none;
  width: 10px;
  height: 10px;
  margin: 5px;
}

.carousel-inner div img {
  width: 100%;
}

#home {
  background-color: rgba(29, 29, 29, 1);
  color: white;
  padding-bottom: 500px;
  position: relative;
  top: -80px;
}

#sentence {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: solid #282828 5px;
  line-height: 1;
}

#s1{
  font-size: 32px;
}

#s2 {
  color: #e34e33;
  font-size: 32px;
}

#featuredworkheader,
#wireheader {
  border-bottom: solid #282828 1px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#featuredworkheader h2,
#wireheader h2 {
  color: #9f9f9f;
  display: inline-block;
  font-size: 24px;
  margin-top: 70px;
}

#featuredworkheader a,
#wireheader a {
  color: #e34e33;
  display: inline-block;
  margin-left: 10px;
}

.inner a {
  color: #e34e33;
}

.inner p {
  color: #9f9f9f;
  margin: 0;
  font-size: 12px;
}

.project .inner a img {
  width: 100%;
}

.project .inner h3,
.project .inner h3 a {
  display: inline-block;
  font-size: 16px;
}

.project .inner h3 a {
  color: #67d9da;
}
.news {
  padding: 0;
}

.news .inner h1 {
  margin: 0;
  margin-right: 20px;
  font-size: 30px;
}

.news .inner p {
  color: #9f9f9f;
}
